.page-header Lists
- if @lists
  .wall
  .wall
    - @lists.each_with_index do |list, i|
      - if i == 0
        = render partial: 'lists/brick_large', locals: {list: list}
      - else
        = render partial: 'lists/brick_small', locals: {list: list}