.page-header Items
-if !@items.nil?
  .wall
    - @items.each_with_index do |item, i|
      - if i == 0
        = render partial: 'items/brick_large', locals: {item: item}
      - else
        = render partial: 'items/brick_small', locals: {item: item}
-else
  .page-text= link_to 'Login to view your items!', "/auth/twitter"