/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/*$background-color: #0B1F38;*/
$background-color: black;
$text-color: white;
$site-font: 'Anonymous Pro', sans-serif;

body {
  font-family: $site-font;
  background: $background-color;
  color: $text-color;
  nav {
    padding-right: 0.5em;
    float: right;
    font-size: 2em;
    text-align: right;
    list-style-type: none;
  }
}
a, a:hover {
  color: $text-color;
}
.container {
  background: $background-color;
}
header {
  padding-left: 0.25em;
  font-size: 5em;
  float: left;
}
.flash-notices {
  width: 50%;
  float: right;
  font-size: 1em;
  padding-left: 0.5em;
}


.page-header{
  font-size: 4em;
}
.page-subheader {
  font-size: 2em;
  font-style: italic;
}
.page-text{
  font-size: 2em;
}
.wall {
  @extend .row;
}

.brick-large {
  @extend .col-md-6;
}
.brick-small {
  @extend .col-md-3;
}
.item-panel{
  padding: 0.5em;
  margin: 1em 0;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  a, a:hover {
    color: white;
  }
}
.item-panel-large{
  height: 36em;
  .panel-title {
    font-size: 3em;
    margin: 1em 0;
  }
  .panel-text {
    font-size: 2.5em;
  }
  .panel-link {
    font-size: 2em;
  }
}
.item-panel-small {
  height: 17em;
  .panel-title {
    font-size: 2em;
    margin: 0.5em 0;
  }
  .panel-text {
    font-size: 1.5em;
  }
  .panel-link {
    font-size: 1.5em;
  }
}
.brick {
  .item-panel {
    background: #18427a;
  }
}
.brick:nth-child(3n+2){
  .item-panel {
    background: #5329C6;
  }
}
.brick:nth-child(3n+3) {
  .item-panel{
    background: #008E79;
  }
}

.panel-blurb {
  font-size: 1.5em;
  text-align: left;
  margin-left: 0.5em;
}
.italic-text {
  font-style: italic;
}
.panel-checkbox {
  font-size: 3em;
}

.form-label {
  font-size: 1.5em;
  font-style: italic;
}
.form-text {
  font-size: 2em;
  font-style: italic;
}
.form-control {
  font-size: 2em;
  border-radius: 0;
  height: 45px;
}
.search-icon-button {
  @extend .btn;
  @extend .btn-default;
  border-radius: 0;
  height: 45px;
}
.add-to-list-button{
  @extend .btn;
  @extend .btn-default;
  border-radius: 0;
}